{{> main}}

<head>
    {{> title-meta title="Log In"}}

    {{> head-css}}
</head>

<body class="authentication-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="row g-0 align-items-center justify-content-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="d-flex flex-column p-4">
                                <div class="flex-shrink-0">
                                    <div class="auth-brand mb-5">
                                        <a href="index.html" class="logo-dark">
                                            <span><img src="assets/images/logo-light.png" alt="" height="32"></span>
                                        </a>
                                        <a href="index.html" class="logo-light">
                                            <span><img src="assets/images/logo-dark.png" alt="" height="32"></span>
                                        </a>
                                    </div>
                                </div>

                                <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
                                    <div class="w-100">
                                        <div class="">
                                            <h4 class="font-20">Sign In</h4>
                                            <p class="text-muted mb-3">Enter your email address and password to access
                                                account.</p>
                                        </div>

                                        <form action="#" class="mb-3">
                                            <div class="form-group mb-3">
                                                <label class="form-label" for="emailaddress">Email address</label>
                                                <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                                            </div>

                                            <div class="mb-3">
                                                <a href="auth-forgotpw.html" class="text-muted float-end"><small>Forgot your password?</small></a>
                                                <label for="password" class="form-label">Password</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="password" id="password" class="form-control" placeholder="Enter your password">
                                                    <div class="input-group-text" data-password="false">
                                                        <span class="password-eye"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="d-flex gap-2">
                                                    <input class="form-check-input" type="checkbox" id="checkbox-signin" checked>
                                                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                                </div>
                                            </div>

                                            <div class="form-group mb-0 text-center">
                                                <button class="btn btn-blue w-100" type="submit"><i class="mdi mdi-login me-1"></i> Log In </button>
                                            </div>

                                        </form>


                                        <div class="text-center mt-4">
                                            <p class="text-muted font-18">Sign in with</p>
                                            <div class="d-flex gap-2 justify-content-center mt-3">
                                                <a href="javascript: void(0);" class="btn btn-sm btn-soft-primary font-16"><i class="mdi mdi-facebook"></i></a>
                                                <a href="javascript: void(0);" class="btn btn-sm btn-soft-danger font-16"><i class="mdi mdi-instagram"></i></a>
                                                <a href="javascript: void(0);" class="btn btn-sm btn-soft-info font-16"><i class="mdi mdi-twitter"></i></a>
                                                <a href="javascript: void(0);" class="btn btn-sm btn-soft-dark font-16"><i class="mdi mdi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- end card-body -->

                        </div>
                        <div class="col-xl-7 col-lg-6  d-none d-lg-block">
                            <div class="login-img">
                                <div class="img-light">
                                    <img src="assets/images/login.svg" alt="" class="img-fluid">
                                </div>
                                <div class="img-dark">
                                    <img src="assets/images/login-dark.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <p class="text-muted text-center font-16 mb-5">Don't have an account? <a href="auth-register.html" class="text-dark ms-1">Sign Up</a></p>

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <footer class="footer footer-alt fw-medium bg-transparent">
        <span class="text-muted">
            <script>document.write(new Date().getFullYear())</script> © TechUI - Template by GetAppui
        </span>
    </footer>

    {{> footer-scripts}}

</body>

</html>
