{{> main}}


<head>
    {{> title-meta title="Error Page | 404 | Page not Found"}}

    {{> head-css}}
</head>

<body class="authentication-bg authentication-bg-pattern">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="row g-0 align-items-center justify-content-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="card-body p-4">
                                <div class="auth-brand mb-4">
                                    <a href="index.html" class="logo-dark">
                                        <span><img src="assets/images/logo-light.png" alt="" height="32"></span>
                                    </a>
                                    <a href="index.html" class="logo-light">
                                        <span><img src="assets/images/logo-dark.png" alt="" height="32"></span>
                                    </a>
                                </div>
                                <div class="d-flex flex-column h-100">
                                    
                                    <div class="p-4 my-auto">
                                        <div class="d-flex justify-content-center mb-5">
                                            <img src="assets/images/svg/404.svg" alt="" class="img-fluid">
                                        </div>

                                        <div class="text-center">
                                            <h1 class="mb-3">404</h1>
                                            <h4 class="fs-20">Page not found</h4>
                                            <p class="text-muted mb-3"> It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us.</p>
                                        </div>

                                        <a href="index.html" class="btn btn-soft-primary w-100"><i class="mdi mdi-home-outline me-1"></i> Back to Home</a>
                                    </div>
                                </div>

                            </div> <!-- end card-body -->

                        </div>
                        <div class="col-xl-7 col-lg-6  d-none d-lg-block">
                            <img src="assets/images/login.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>

    {{> footer-scripts}}
</body>

</html>