{{> main}}

    <head>
        {{> title-meta title="Quilljs Editors"}}

		{{> head-css}}
    </head>

    <body>

        <!-- Begin page -->
        <div class="app-wrapper">

            {{> sidenav}}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                {{> topbar}}

                <div class="content">

                    <!-- Start Content-->
                    <div class="container">

                        {{> page-title subtitle="Forms" title="Quilljs Editor"}}

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Snow Editor</h4>
                                        <p class="sub-header mb-0">Snow is a clean, flat toolbar theme.</p>
                                    </div>
                                    <div class="card-body">

                                        <div id="snow-editor" style="height: 300px;">
                                            <h3><span class="ql-size-large">Hello World!</span></h3>
                                            <p><br></p>
                                            <h3>This is an simple editable area.</h3>
                                            <p><br></p>
                                            <ul>
                                                <li>
                                                    Select a text to reveal the toolbar.
                                                </li>
                                                <li>
                                                    Edit rich document on-the-fly, so elastic!
                                                </li>
                                            </ul>
                                            <p><br></p>
                                            <p>
                                                End of simple area
                                            </p>

                                        </div> <!-- end Snow-editor-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Bubble Editor</h4>
                                        <p class="sub-header mb-0">Bubble is a simple tooltip based theme.</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="bubble-editor" style="height: 300px;">
                                            <h3><span class="ql-size-large">Hello World!</span></h3>
                                            <p><br></p>
                                            <h3>This is an simple editable area.</h3>
                                            <p><br></p>
                                            <ul>
                                                <li>
                                                    Select a text to reveal the toolbar.
                                                </li>
                                                <li>
                                                    Edit rich document on-the-fly, so elastic!
                                                </li>
                                            </ul>
                                            <p><br></p>
                                            <p>
                                                End of simple area
                                            </p>
                                        </div> <!-- end Snow-editor-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                {{> footer}}

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        {{> right-sidebar}}

        {{> footer-scripts}}

        <!-- Plugins js -->
        <!-- <script src="assets/libs/quill/quill.min.js"></script> -->

        <!-- Init js-->
        <script src="assets/js/pages/form-quilljs.init.js" type="module"></script>

    </body>
</html>
