{{> main}}

<head>
    {{> title-meta title="Vector Maps"}}

    {{> head-css}}
</head>

<body>

    <!-- Begin page -->
    <div class="app-wrapper">

        {{> sidenav}}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            {{> topbar}}

            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    {{> page-title subtitle="Maps" title="Vector Maps"}}


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-3">World Vector Map</h4>
                                    <div id="world-map-markers" style="height: 420px"></div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">World Vector Map</h4>

                                    <div class="mb-3">
                                        <div id="world-map-markers-line" style="height: 360px"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->


                </div> <!-- content -->

                {{> footer}}

            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    {{> right-sidebar}}

    {{> footer-scripts}}

    <script src="assets/js/pages/vector-maps.init.js" type="module"></script>

</body>

</html>
