{{> main}}

<head>
    {{> title-meta title="Google Maps"}}

    {{> head-css}}

</head>

<body>

<!-- Begin page -->
<div class="app-wrapper">

    {{> sidenav}}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        {{> topbar}}

        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                {{> page-title subtitle="Maps" title="Google Maps"}}
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Basic</h4>
                                <div class="gmaps" id="gmaps-basic"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Markers</h4>
                                <div class="gmaps" id="gmaps-markers"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Ultra Light</h4>
                                <div class="gmaps" id="ultra-light"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Dark</h4>
                                <div class="gmaps" id="dark"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Polygons</h4>
                                <div class="gmaps" id="gmaps-polygons"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Overlays</h4>
                                <div class="gmaps" id="gmaps-overlay"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row-->


                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Street View Panoramas</h4>
                                <div class="gmaps-panaroma" id="panorama"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Routes</h4>
                                <div class="gmaps" id="gmaps-route"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row-->


                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Map Types</h4>
                                <div class="gmaps" id="gmaps-types"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Context menu (right click on map)</h4>
                                <div class="gmaps" id="gmaps-menu"></div>
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row-->

            </div> <!-- container -->

        </div> <!-- content -->

        {{> footer}}

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

{{> right-sidebar}}

{{> footer-scripts}}

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDsucrEdmswqYrw0f6ej3bf4M4suDeRgNA"></script>

<script src="assets/js/pages/google-maps.init.js" type="module"></script>


</body>
</html>
