{{> main}}

    <head>
        {{> title-meta title="Starter"}}

		{{> head-css}}
    </head>

    <body>

        <!-- Begin page -->
        <div class="app-wrapper">

            {{> sidenav}}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                {{> topbar}}

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        {{> page-title subtitle="Extra Pages" title="Starter"}}  
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                {{> footer}}

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        {{> right-sidebar}}
        
        {{> footer-scripts}}

    </body>
</html>